message-board-comment-item {
	position: relative;

	border-bottom: 1px solid hsl(217, 50%, 20%);
	padding: 1rem 20px;

	transition: background-color 150ms;
}

message-board-comment-item .timestamp-text {
	font-size: 70%;
	color: rgba(170, 170, 170, 1);
	/* padding: 0px 10px; */
}

message-board-comment-item:hover {
	background-color: rgba(0, 0, 0, 0.1);
}

message-board-comment-item .delete-button {
	transform: translate(-50%, 75%);
}

message-board-comment-item .edit-button {
	transform: translate(-100%, 75%);
}

message-board-comment-item .delete-button, 
message-board-comment-item .edit-button {
	position: absolute;
	right: 0;
	top: 0;
	font-size: 0.75rem;
	cursor: pointer;
	opacity: 0;
	transition: opacity 350ms;
	/* transform: translateY(75%); */
}

message-board-comment-item:hover .delete-button,
message-board-comment-item:hover .edit-button
 {
	opacity: 1;
}
